.CountryList {
  width: 100%;
  max-width: 1440px;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  margin-block: 2rem;
  margin-inline: 1rem;
}

@media screen and (min-width: 665px) {
  .CountryList {
    justify-content: space-between;
  }
}
