.CountryApp {
  min-height: 100vh;
}

.CountryApp-body {
  display: grid;
  place-items: center;
}

.CountryApp.light {
  background-color: var(--clr-light-mode-bg);
  color: var(--clr-light-mode-text);
}

.CountryApp.dark {
  background-color: var(--clr-dark-mode-bg);
  color: var(--clr-dark-mode-text);
}
