.CountryCard {
  overflow: hidden;
  width: 300px;
  height: 350px;
  border-radius: 0.5rem;
}

.CountryCard.light {
  background-color: var(--clr-light-mode-elements);
  box-shadow: 0 0 0.5rem var(--clr-light-mode-input);
}

.CountryCard.dark {
  background-color: var(--clr-dark-mode-elements);
  box-shadow: 0 0 0.5rem var(--clr-light-mode-text);
}

.CountryCard-title {
  font-size: 18px;
}

.CountryCard-body {
  margin: 1rem;
  font-size: 14px;
}

.CountryCard-vitals {
  margin-top: 1rem;
}

.CountryCard-flag {
  width: 100%;
  height: 50%;
  object-fit: cover;
}
