.CountryList {
  --columns: 1;
  width: 100%;
  max-width: 1440px;
  display: flex;
  flex-wrap: wrap;
  gap: 2.6rem;
  justify-content: start;
  margin-block: 2rem;
  margin-inline: 1rem;
}

@media (min-width: 665px) {
  .CountryList {
    --columns: 2;
    grid-template-columns: repeat(var(--columns), auto);
  }
}

@media (min-width: 1000px) {
  .CountryList {
    --columns: 3;
  }
}

@media (min-width: 1300px) {
  .CountryList {
    --columns: 4;
  }
}
