.CountryApp {
  min-height: 100vh;
}

.CountryApp.light {
  background-color: var(--clr-light-mode-bg);
  color: var(--clr-light-mode-text);
}

.CountryApp.dark {
  background-color: var(--clr-dark-mode-bg);
  color: var(--clr-dark-mode-text);
}

.CountryApp-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-inline: 1rem;
}

.CountryApp-filters {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  max-width: 1440px;
  margin: auto;
  margin-top: 2rem;
  margin-inline: 1rem;
}

@media screen and (min-width: 1000px) {
  .CountryApp-filters {
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
  }
}
