.CountryList {
  --columns: 1;
  max-width: 1440px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(var(--columns), fit-content);
  justify-content: space-around;
}

@media screen and (min-width: 800px) {
  .CountryList {
    --columns: 2;
  }
}

@media screen and (min-width: 1200px) {
  .CountryList {
    --columns: 4;
  }
}
