@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

body {
  min-height: 100vh;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300;
}

/* utility classes */
.bold-font {
  font-weight: 600;
}

.bolder-font {
  font-weight: 800;
}

a {
  text-decoration: none;
  font-family: inherit;
  color: inherit;
}
