:root {
  --clr-dark-mode-elements: hsl(209, 23%, 22%);
  --clr-dark-mode-bg: hsl(207, 26%, 17%);
  --clr-dark-mode-text: hsl(0, 0%, 100%);
  --clr-light-mode-elements: hsl(0, 0%, 100%);
  --clr-light-mode-bg: hsl(0, 0%, 98%);
  --clr-light-mode-text: hsl(200, 15%, 8%);
  --clr-light-mode-input: hsl(0, 0%, 52%);
}
